@page
@model Antiforgery.Pages.LoginModel
@{
    ViewData["Title"] = "Log In";
}

<form id="user-login" method="post">
    <div>
        <input asp-for="Input.UserName" placeholder="User Name" autofocus>
    </div>
    <div>
        <input asp-for="Input.Password" placeholder="Password"/>
    </div>
    <button id="login-submit" type="submit">Log in</button>
</form>
