<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <a asp-page="/Index">
            <span>Home</span>
        </a>
        <a asp-page="/Login">
            <span>Login</span>
        </a>
        <a href="/Swagger">
            <span>Swagger</span>
        </a>
    </div>
    @RenderBody()
</body>
</html>
